:root {
    --main-blue: #45567d;
    --main-white: #f0f0f0;
--Wild-Echo-Jewelry-3-1-hex: #828C63;
--Wild-Echo-Jewelry-3-2-hex: #9BA47E;
--Wild-Echo-Jewelry-3-3-hex: #DAD8C7;
--Wild-Echo-Jewelry-3-4-hex: #BF7C63;
--Wild-Echo-Jewelry-3-5-hex: #856645;

}


html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    background-color: var(--Wild-Echo-Jewelry-3-1-hex);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navlist {
    display: flex;
    list-style-type: none;
}

.navlist a {
    display: block;
    text-decoration: none;
    color: var(--main-white);
    padding: 1rem;
    font-size: xx-large;
    color: var(--Wild-Echo-Jewelry-3-3-hex)
}

.navlist a:hover {
    background-color: var(--main-blue);
}

a {
    text-decoration: none;
}

#welcome-section {
    height: 100vh;
    background-color: var(--Wild-Echo-Jewelry-3-3-hex);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Wild-Echo-Jewelry-3-4-hex);
}

h1 {
    font-size: 6rem;
    padding: 3rem;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Wild-Echo-Jewelry-3-4-hex);
}

#projects h1 {
    color: var(--Wild-Echo-Jewelry-3-3-hex);
}

.project-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-tiles a {
    margin: 2rem;
}

.project-tile img {
    width: 20rem;
}

figcaption{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--Wild-Echo-Jewelry-3-3-hex);
    font-size: medium;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Wild-Echo-Jewelry-3-1-hex);
}

#contact h1 {
    color: var(--Wild-Echo-Jewelry-3-3-hex);
}
.contact-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-links a {
display: block;
color :var(--Wild-Echo-Jewelry-3-3-hex);
font-size: xx-large;
padding: 3rem;
text-shadow: 2px 2px 1px #1f1f1f;
}

  
  .contact-link a:hover {
    transform: translateY(8px);
  }

  .contact-details {
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(12px);
  }

footer {
    font-size: small;
    text-align: center;
    padding: 3rem 0rem .5rem 0rem;
    background-color: var(--Wild-Echo-Jewelry-3-1-hex);
    color: var(--Wild-Echo-Jewelry-3-3-hex);
}


/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 60%;
  }
}

/* 640px / 16px = 40em */
@media (max-width: 40em) {
    html {
      font-size: 50%;
    }
  }
