* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: black;
    color: yellow;
}

.mainContainer {
    display: flex;
}

.box {
    background-color: yellow;

}

.shipviewer {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.shipviewer.img {
    padding: 10rem;
}

h1 {
    font-size: xx-large;
    color: black;
    text-align: center;
}

.box p {
    font-size: xx-large;
    text-align: center;
}

.nav {
    min-width: 20rem;
}

.navList {
    margin: 1rem;
    list-style-type: none;
    font-size: x-large;
}

a {
    text-decoration: none;
}

li:hover {
    background-color: white;
}