* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1 {
    color: yellow;
    font-size: 3rem;
    text-align: center;
    font-weight: bolder;
}

body {
    background-color: black;
    color: yellow;
}

.mainContainer {
    display: flex;
    margin-top: 60px;
}

.nav {
    color: yellow;
}

.box {
    background-color: yellow;

}

.shipViewer {
    height: 100vh;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    border-color: yellow;
}

.shipviewer.img {
    padding: 10rem;
}


.box p {
    font-size: xx-large;
    text-align: center;
}

.nav {
    min-width: 20rem;
}

.navList {
    margin: 1rem;
    list-style-type: none;
    font-size: x-large;
}

a {
    text-decoration: none;
}

li:hover {
    background-color: white;
}

footer {
    background-color: yellow;
    color: black;
    text-align: center;
    margin-top: 60px;
    padding: 15px;
}