* {
    margin: 1rem;
    background-color: black;
    color: yellow;
}

header, h1 {
    text-align: center;
    font-size: 10rem;
    font-weight: bolder;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure img {
    height: 20rem;
}

figCaption { 
margin: 1rem;
text-align: center;
font-weight: bold;
font-size: medium;

}


button {
    width: 10rem;
    height: 3rem;
    margin: 1rem;
    border-color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 1rem;
}
