* {
    margin: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header, h1 {
    text-align: center;
    font-size: 10rem;
    font-weight: bolder;
    color: rgba(255, 255, 255, .1);
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/62/Starsinthesky.jpg);
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    animation: animate 30s infinite linear;
  }
  @keyframes animate {
    0% {
      background-position: left 0px top 0px;
    }
    40% {
      background-position: left 800px top 
  }
}

body {
    background-color: black;
    color: yellow;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure img {
    height: 20rem;
}

figCaption { 
margin: 1rem;
text-align: center;
font-weight: bold;
font-size: medium;

}


button {
    width: 10rem;
    height: 3rem;
    margin: 1rem;
    border-color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 1rem;
    background-color: yellow;
}

footer {
    background-color: yellow;
    color: black;
    text-align: center;
    margin-top: 60px;
    padding-top: 5px;
}

footer img {
    height: 20px;
    padding-top: 5px;
}