* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@-webkit-keyframes scale-in {
    0%   {transform: scale(10, 10); opacity: 0;}
   100% {transform: scale(1, 1); opacity: 1;}
}

@keyframes scale-in {
   0%   {transform: scale(10, 10); opacity: 0;}
   100% {transform: scale(1, 1);  opacity: 1;}
}
/*==========ROLL-OUT==========*/
@-webkit-keyframes roll-out {
   0%   {width: 0;}
   100% {width: 100%; }
}
@keyframes roll-out {
   0%   {width: 0;}
   100% {width: 100%; }
}
.hero{
 width: 100%;
 height: 500px;
 text-align: center;
 margin: 0 auto;
 background: #392f28;
 position: relative; 
 color: #392f28;
}

.hero h1{
color: white;
 font-size: 4.1em;
 margin: auto;
 position: absolute; 
 top: 120px;
 left: 0;
 right: 0;
 bottom: 0;
 z-index: 1;
}
.hero p{
 color: white;
 font-size: 1.5em;
 margin: auto;
 position: absolute; 
 top: 220px;
 left: 0;
 right: 0;
 bottom: 0;
  z-index: 1;
}
.hero img{
 width: 100%;
}
.bar{
 width: 100%;
 height: 200px;
 background: -moz-linear-gradient(289deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
 background: -webkit-linear-gradient(289deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
 background: -ms-linear-gradient(289deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
 background: linear-gradient(161deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
 opacity: 0.3;
 position: absolute; 
 z-index: 0;
 left: 0;
 top: 90px;
 -ms-transform-origin: 100% 0%;
 -webkit-transform-origin: 100% 0%;
 transform-origin: 100% 0%;
  -webkit-animation: roll-out 1.2s ease-out ;
 -moz-animation: roll-out 1.2s ease-out ;
   animation: roll-out 1.2s ease-out ; 
}
.hero h1, .hero p{
 -webkit-animation: scale-in 1.3s ease-out;
 -moz-animation: scale-in 1.3s  ease-out;
   animation: scale-in 1.3s ease-out; 
}
@media all and (max-width: 768px) {
 .hero{
   height: 50vw;
 }
 .bar{
   height: 26vw;
   top: 10vw;
 }
 .hero h1{
   font-size: 8vw;
   top: 13vw;
 }
 .hero p{
   font-size: 3vw;
   top: 27vw;
 }

}

main {
  margin-top: 14rem;
    background-color: rgb(86, 104, 85);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
}

.seniorityHeader {
  background-color: rgb(86, 104, 85);
  color: white;
  margin-bottom: 2rem;
}

.partySelect {
  padding: 1rem;
  margin-bottom: 3rem;
  border-radius: 5px;
  border: solid .5rem rgb(138, 82, 82);
  font-weight: bold;
}

.senatorsDiv {
  padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 80rem;
    background-color: #b7c3c9;
  
    
}

figure {
    margin: 2rem;
}

figcaption {
    background-color: white;
    font-size: large;
    font-weight: bold;
    padding: 1rem;
    border: solid .5rem rgb(138, 82, 82);
    border-radius: 5px;
}


footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 60px;
    background-color: rgb(86, 104, 85);
    color: white;
    padding: 3rem;
    font-size: large;
}
footer img {
    margin-top: 1rem;
}